<div class="col-md-5" >
  <%= form_with(model: reminder_type) do |form| %>
    <% if reminder_type.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(reminder_type.errors.count, "error") %> prohibited this reminder_type from being saved:</h2>

        <ul>
          <% reminder_type.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name , class: "form-control" %>
    </div>
    <br>
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  </div>
