<div class="row">
  <div class="col-xs-2">
    <%= wicked_pdf_image_tag 'logo.jpg',width: "100px",height: "70px" %>
  </div>
  <div class="col-xs-7">
    <h2 style="font-weight: 700;margin-top: 0px;margin-bottom: 5px;" class="text-center">Reminders App</h2>     
    <p class="text-center" style="font-size: 11pt;margin-bottom: 2px;">Welcome <%= "#{@customer.name}"%>! </b></p>
    <p class="text-center" style="font-size: 11pt;margin-bottom: 2px;">Thanks for choosing us</b></p>
  </div>
  <div class="col-xs-3">
    <p class="pull-right" style="font-size: 10pt;margin-bottom: 0px;"><b>Contact number: <%= @customer.phone %> </b></p> <br>
    <p class="pull-right" style="font-size: 10pt;margin-bottom: 0px;"><b>Email: <%= @customer.email %> </b></p>
  </div>
</div> <br>
<table class="table">
    <thead>
      <tr>
        <th> Reminder </th>
        <th> Reminder date </th>
    </tr>
    </thead>
    <tbody>
        <tr>
          <td> <%= %> </td>
          <td> <%= %> </td>
        </tr>
    </tbody>
  </table>

